
body {
    background: #5b6562;
    background-image: url("images/back-1.png"), url("images/back-2.png");
    background-repeat: repeat-x, repeat;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 34px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: column;
}
    /*header*/
    .main-container .header {
        background: #136a8a;
        background: -webkit-linear-gradient(to left, #136a8a , #267871);
        background: linear-gradient(to left, #283C44 , #1E251E);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 0px;
        opacity: 0.9;
        filter: alpha(opacity=40); /* For IE8 and earlier */
        display: flex;
        flex-direction: column;
    }
        .main-container .header div{
            display: flex;
        }

        .main-container .header h1 {
            color: white;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 53px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 1;
            margin-top: 5px;
            margin-left: 5px;
            margin-bottom: 15px;
            float: left;
        }
        .main-container .header span {
            color:white;
            align-self: flex-end;
            padding-left: 5px;
            padding-bottom: 7px;
        }
    /*header*/
    /*body*/
    .main-container .body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        padding-left: 55px;
        padding-right: 55px;
        margin-top: 45px;
    }
        .main-container .body .items-container{/* background: white; */}
    /*body*/
    /*blog item component */
    .main-container .blog-item {
        display: flex;
        flex-direction: column;
        padding-top: 44px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        background: white;
        margin-bottom: 20px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 7px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }
        .main-container .blog-item .blog-item__title {
            display: flex;
            flex-direction: row;
        }
            .main-container .blog-item .blog-item__title .title{
                padding-right: 20px;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 30px;
                font-weight: bold;
            }
            .main-container .blog-item .blog-item__title .title-buttons{
                margin-top: 2px;
            }


        .main-container .blog-item .blog-item__content{
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .main-container .blog-item.item-creator .blog-item__title .title{
            min-width: 150px;
        }
        /*item creator placeholders*/
        .main-container .blog-item.item-creator .blog-item__title .title:empty:not(:focus):before{
            content:attr(data-placeHolder)
        }
        .main-container .blog-item.item-creator .blog-item__content:empty:not(:focus):before{
            content:attr(data-placeHolder)
        }
        /*item creator placeholders*/
    /*blog item component */

    /*buttons components*/
    .main-container .button {
        color:white;
        padding: 5px 13px 5px 12px;
        cursor: pointer;
        border-radius: 3px;
        text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
    }

    .main-container .button.button__delete {
        background: #d93434;
    }

    .main-container .button.button__edit {
    background-color: #41c250;
    }

    .main-container .button.button__add {
    background-color: #49aadc;
    }
    .main-container .button.button__cancel {
        background-color: orange;
    }
    /*buttons components*/
    /*labels*/
    .main-container label.error-label {
        color: red;
    }
    /*labels*/

    /*footer*/
    .main-container .footer {
        background: #181819;
        background: -webkit-linear-gradient(to left, #136a8a, #267871);
        background: linear-gradient(to left, #1B1F1D, #101010);
        color: slategrey;
        text-align: center;
        line-height: 3.5em;
        height: 50px;
        margin-bottom: -25px;
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
    }
    .main-container .footer a{
        color: slategrey;
        text-decoration: none;
    }
    .main-container .footer a:hover, .main-container .footer a:visited{
        text-decoration: underline;
    }
    /*footer*/
